.container{
    overflow-x: hidden;
    font-weight:500;
    background: linear-gradient(to bottom, #ffffff, #fff9b1);
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}
.logo img{
    height: 10rem ;
    width: 30rem;
    justify-content: center;
}
.left{
    height: 100%;
    width:33%;
    /* flex-basis: 45%; */
}
.left img{
    /* height: 50rem;
    width:32rem; */
    height: 120vh;
    width: 35vw;
   
}
.right{
    height: 100%;
    width:67%;
    /* flex-basis: 45%; */
}
.right img{
    /* height: 35rem;
    width:62rem; */
    height: 80vh;
    width: 65vw;
   
}
.container2{
    display: flex;
    flex-wrap: wrap;
}
.text{
    
     padding-right: 2rem;
}
.midText{
    text-align: center;
}
.img3 img{
    /* height: 24rem;
    width: 74rem; */
    height: 53vh;
    width: 78vw;
  display: flex;
  justify-content: center;
    margin: auto;
}
.line{
    height: 2px ;
    width: 97%;
    background-color: red;
    margin: auto;
    
}
.diff{
    color: red;
}
.footer{
    background-color: rgb(236 50 55);
    display: flex;
    justify-content: center;
    height: 7rem;
    margin: 0.5rem;
}
.footer img{
    height: 30px;
    width: 30px;
}
.data p{

    color:white;
}
#belText{
padding-left: 2rem;
padding-right: 2rem;
}
.data{
    display: flex;
    margin: 2rem 5rem 0rem 5rem;
}

@media (max-width: 768px) {
    .left {
        flex-basis: 100%;
        margin: 20px;
     }
    .right {
        flex-basis: 100%;
        
        margin: 20px;
     }
     .right img{
        width: 100%;
     }
     .left img{
        height: auto;
        width: 100%;
     }
    }